:root {
    --bg-url: url("https://e1.pxfuel.com/desktop-wallpaper/145/97/desktop-wallpaper-andromeda-galaxy-ultrawide-by-daily-ultrawide.jpg");
}

body {
    background-color: #333;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header .navigation {
    background-color: rgba(150, 150, 150, .2);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navigation>ol li {
    display: inline-block;
    list-style: none;
    margin: 0 10px;
}

.navigation>ol>li a {
    text-decoration: none;
    color: #fff;
}

header .galaxy {
    width: 100%;
    height: 500px;
    color: #ddd;
    position: relative;
}

header .galaxy {
    background: var(--bg-url) no-repeat;
    background-size: cover;
    background-position: center;
}

header .galaxy article {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

header .right {
    position: absolute;
    width: 50px;
    right: 0;
    top: 30%;
    transform: translate(0, 50%);
    z-index: 10;
}

header .left {
    position: absolute;
    width: 50px;
    left: 0;
    top: 30%;
    transform: translate(0, 50%);
    z-index: 10;
}

header .carousel-nav:hover {
    cursor: pointer;
    opacity: 0.8;
}

header .carousel-nav:active~.galaxy {
    --bg-url: url("");
}