.ig-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 470px;
}

/*Header*/
.ig-card-header {
  color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: space-between;
}

.ig-card-info {
  display: flex;
  gap: 10px;
}

.ig-card-info img {
  width: 36px;
  border-radius: 50%;
  border: 1px solid #333;
}

.ig-card-info__img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

.ig-card-info__img .update {
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.ig-card-info__user .user {
  font-size: 0.9rem;
  font-weight: 600;
}

.ig-card-info__user .time {
  font-size: 0.9rem;
  color: rgb(168, 168, 168);
}

.ig-card-info__user .user::after {
  content: "•";
  font-size: 0.9rem;
  margin: 0 5px;
  color: rgb(168, 168, 168);
}

.ig-card-info__user .description {
  font-size: 0.8rem;
}

/*Main*/
.publication-img {
  width: 100%;
  height: 550px;
  background: url('https://c4.wallpaperflare.com/wallpaper/946/632/921/espacio-estrellas-naturaleza-planetas-wallpaper-preview.jpg') no-repeat;
}

.publication-img img {}